		body {
		font-family: 'Rubik', sans-serif;

	}

	#headerbox {
		grid-column: 1/3;
		background-color:#303030;
		margin: -.55%;
		line-height: 200%;
		border-bottom-style: solid;
		border-width: 3px;

	}
		 .Logo {
		 	text-align: left;
			width: 5%;
			margin-top: .5%;
			margin-bottom: -.56%;
			margin-left: .6%;
		 }
		 #Logo {
			padding-top: 2.9%;
			padding-left: 1%;
		 	width: 78.5%
		 }

	.Logotext {
		float: right;
		width: 30%;
		font-size: 220%;
		margin-top: -3.2%;
		color: white;
		font-family: Play,sans-serif;
		text-align: right;
		margin-right: 1%;

	}
		#Main {
		background-color:white;
		position: absolute;
		left: 12%;
		right: 12%;
		border-width: .75%;
		margin-top: 2%;
		box-shadow: 3px 10px 56px 0px rgba(0,0,0,0.65);
		font-family: 'Titillium Web', sans-serif;
		text-align: center;
		padding-left: 2.5%;
		padding-right: 2.5%;
		font-color:black;
	}
section {
			display: grid;
		grid-template-columns: 33% 33% 33%;
}
	#iphonecontainer {
		display: inline-block;
		text-align: center;
		margin-top: 1%;
		padding-top: 10%;
		margin-left: -2%;
		grid-column: 1/2;
		height:140%;
		border-style: solid;
		border-color: #303030;
		background-image: url(iPhone5/iphonebackhome.jpg);
	}
	#lgcontainer {
		display: inline-block;
		text-align: center;
		margin-top: 1%;
		height: 140%;
		padding-top: 10%;
		grid-column: 2/3;
		border-style: solid;
		border-color: #303030;
		background-image: url(LgG4/g4backhome.jpg);
	}
		#notecontainer {
		margin-right: -4.7%;
		display: inline-block;
		text-align: center;
		margin-top: 1%;
		height:140%;
		padding-top: 10%;
		grid-column: 3/4;
		border-style: solid;
		border-color: #303030;
		background-image: url(Note5/note5backhome.jpg);
	}
		#iPhone {

			position: relative;
			width: 42%;
		}	
		#Lgg4 {
			width: 47%;
		}
		#note5 {
			padding-left: 3%;
			width: 58%;
		}

		p {
			text-indent: 5%;
		}
		h2 {
			text-indent: 2.5%;
		}
.button1 {
  position: absolute;
  left:12%;
  top: 40%;
  text-align: center;
  opacity: 0;

  transition: opacity .55s ease;
  z-index: 3;

}

.button1 a {
  width: 100px;
  padding: 12px 30px;
  text-align: center;
  color: white;
  border-style: solid;
  border-color: #303030;
  background-color: #413B31;
  z-index: 1;
  text-decoration: none;
}


.iphonecontainer:hover .button1 {
  opacity: 1;
}

.button2 {
  position: absolute;
  left:44.5%;
  top: 40%;
  text-align: center;
  opacity: 0;
  transition: opacity .55s ease;
  z-index: 3;

}

.button2 a {
  width: 50px;
  padding: 12px 48px;
  text-align: center;
  color: white;
  border-style: solid;
  border-color: #303030;
  background-color: #671470;
  z-index: 1;
  text-decoration: none;
  border-style: solid;
}
.g4container:hover .button2 {
  opacity: 1;
}

		.button3 {
  position: absolute;
  left:75.55%;
  top: 40%;
  text-align: center;
  opacity: 0;
  transition: opacity .55s ease;
  z-index: 3;

}

.button3 a {
  width: 100px;
  padding: 12px 48px;
  text-align: center;
  color: white;
  border-style: solid;
  border-color: #303030;
  background-color: #66473B;
  z-index: 1;
  text-decoration: none;
}



.notecontainer:hover .button3 {
  opacity: 1;
}